/**公共样式**/
*{
  margin: 0;
  padding: 0;
}

/**字体图标**/
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/**main**/
#index {
  // position: relative;
  .header{
    .topbar {
      height: 25px;
      background-color: rgb(44, 62, 80);
      .container {
        .topbar-row {
          .login-join {
            .text {
              padding: 2px 20px;
              border-right: 1px solid black;
              a {
                color: rgb(254, 254, 254);
                text-decoration: none;
              }
            }
          }
          .linkus {
            .text {
              padding: 2px 20px;
              border-left: 1px solid black;
              position: relative;
              left: 117px;
              line-height: 25px;
              color: rgb(254, 254, 254);
            }
          }
        }
      }
    }
    .navbar {
      margin-bottom: 0;
      .container-fluid {
        // padding: 0 410px;
        background-color: rgb(255, 255, 255);
        border-bottom: 10px solid rgb(153, 171, 190);
        .navbar-header {
          position: relative;
          .navbar-toggle {

          }
          .navbar-brand {
            img {
              width: 70px;
            }
          }
        }
        #nav-list {
          ul {
            li {
              a:hover {
                color: rgb(29, 210, 175);
              }
            }
          }
        }
      }
    }
    
  }

  .carousel-field {
    position: relative;
    top: -1px;
    #main-banner {
      ol {

      }
      .carousel-inner {
        .item {
          // height: 500px;
          background-image: url(../images/banner.jpg);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        .item{
          img{
            width: 100%;
          }
        }
      }
      .carousel-control {
        .iconfont-left, .iconfont-right {
          font-size: 40px;
          // margin-top: 30px;
        }
      }
      @media (min-width: 768px) {
        .carousel-inner {
          .item {
            height: 500px;
          }
        }
      }
    }
  }

  .searchbar {
    height: 40px;
    background-color: rgb(44, 62, 80);
    position: relative;
    top: -7px;
    .container {
      height: 100%;
      padding: 2px 10px;
      text-align: center;
      .text {
        display: inline-block;
        vertical-align: middle;
        margin-right: 70px;
        position: relative;
        span:nth-child(1) {
          display: block;
          color: rgb(81, 130, 176);
        }
        span:nth-child(2) {
          display: block;
          color: #fff;
        }
        i {
          position: absolute;
          top: -15px;
          right: -60px;
          font-size: 50px;
          color: rgb(159, 176, 192);
        }
      }
      .input-group {
        margin-right: 80px;
        vertical-align: middle;
        display: inline-block;
        label {
          margin-right: 10px;
          color: #fff;
        }
      }
      .search-button {
        // vertical-align: middle;
        display: inline-block;
        width: 90px;
        height: 22px;
        background-color: rgb(29, 210, 175);
        padding: 2px 5px;
        cursor: pointer;
      }
    }
  }

  .display-image {
    // position: relative;
    // top: -5px;
    margin-bottom: 50px;
    .title {
      text-align: center;
      h1 {
        color: rgb(44, 62, 80);
      }
      h2 {
        color: rgb(44, 62, 80);
        margin-bottom: 20px;
      }
    }
    .pics {
      .container-fluid {
        .pics-row {
          .content {
            .frame {
              .pic {
                // width: 200px;
                // height: 148px;
                margin: 0 auto;
                // background-image: url(../images/pic01.jpg);
                background-position: center center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                outline: rgb(238, 238, 238) solid 2px;
                cursor: pointer;
              }
              .desc {
                height: 40px;
                background-color: rgb(238, 238, 238);
                margin: 0 auto;
                margin-bottom: 20px;
                position: relative;
                cursor: pointer;
                padding: 5px;
                h5 {
                  margin: 0;
                  font-size: 14px;
                  color: rgb(98, 98, 98);
                }
                p {
                  margin: 0;
                  font-size: 12px;
                  color: rgb(98, 98, 98);
                }
                i {
                  position: absolute;
                  top: 10px;
                  right: 5px;
                }
              }
            }
            @media (min-width: 1296px) {
              .pic {
                width: 200px;
                height: 148px;
              }
              .desc {
                width: 204px;
              }
            }
            @media (min-width: 1100px) and (max-width: 1296px) {
              .pic {
                width: 160px;
                height: 118px;
              }
              .desc {
                width: 164px;
              }
            }
            @media (min-width: 992px) and (max-width: 1100px) {
              .pic {
                width: 140px;
                height: 103px;
              }
              .desc {
                width: 144px;
              }
            }
            @media (min-width: 600px) and (max-width: 992px) {
              .pic {
                width: 240px;
                height: 178px;
              }
              .desc {
                width: 244px;
              }
            }

            @media (max-width: 600px) {
              .pic {
                width: 140px;
                height: 103px;
              }
              .desc {
                width: 144px;
              }
            }
          }
        }
      }
    }
  }

  .travel-log {
    height: 350px;
    background-image: url(../images/bg_img.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    position: relative;
    .log-cover {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(44, 62, 80, 0.7);
      .title {
        color: #fff;
        text-align: center;
        h2 {
          margin-top: 40px;
        }
        h4 {
          margin-bottom: 40px;
        }
      }
      .icons {
        .container {
          .icons-row {
            .icon {
              color: #fff;
              a {
                text-decoration: none;
                .circle {
                  width: 90px;
                  height: 90px;
                  border: 2px solid #fff;
                  border-radius: 50%;
                  position: relative;
                  margin: 0 auto;
                  i {
                    position: absolute;
                    top: 22px;
                    left: 27px;
                    font-size: 30px;
                    color: #fff;
                  }
                }
                .desc {
                  color: #fff;
                  margin: 0 auto;
                  text-align: center;
                  margin-top: 10px;
                  margin-bottom: 5px;
                }
              }
              a:hover {
                .circle {
                  border: 2px solid rgb(29, 210, 175);
                  i {
                    color: rgb(29, 210, 175);
                  }
                }
                .desc {
                  color: rgb(29, 210, 175);
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 992px) {
    .travel-log {
      height: 390px;
    }
  }


  .leave-msg {
    width: 100%;
    .title {
      text-align: center;
      h3 {
        color: rgb(44, 62, 80);
      }
      h5 {
        margin-bottom: 30px;
      }
    }
    .wrapper {
      width: 100%;
      overflow: hidden;
      // white-space: nowrap;
      .content {
        width: 2000px;
        .board {
          width: 370px;
          height: 100px;
          display: inline-block;
          border: 1px solid rgb(238, 238, 238);
          margin-bottom: 15px;
          margin-right: 10px;
          padding: 7px;
          p {
            font-size: 12px;
            margin-bottom: 2px;
          }
        }
      }
    }
  }

  .footer {

  }
}

@media (min-width: 1400px) {
  .navbar {
    .container-fluid {
      padding: 0 410px;
    }
  }
}
@media (min-width: 1293px) and (max-width: 1400px){
  .navbar {
    .container-fluid {
      padding: 0 290px;
    }
  }
}
@media (min-width: 992px) and (max-width: 1293px){
  .navbar {
    .container-fluid {
      padding: 0 230px;
    }
  }
}
/**bootstrap扩展**/
.carousel-control { // 扩展轮播左右按钮
  position: absolute;
  top: 0;
  bottom: 0;
  // left: 0;
  margin: auto;
  width: 50px;
  height: 60px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  // background-color: red;
  filter: alpha(opacity=100);
  opacity: 1;
}
.carousel-control.left {
  background-color: rgba(254, 254, 254, 0.7);
  // background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  // background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  // background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  // background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  // background-repeat: repeat-x;
}
.carousel-control.right {
  background-color: rgb(29, 210, 175);
  right: 0;
  left: auto;
  // background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  // background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  // background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  // background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  // background-repeat: repeat-x;
}
// .carousel-control:hover,
// .carousel-control:focus {
//   color: #fff;
//   text-decoration: none;
//   filter: alpha(opacity=90);
//   outline: 0;
//   opacity: .9;
// }
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}

.carousel-indicators { // 轮播下方的指示器
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 25px;
  height: 5px;
  margin: 0;
  // text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 0;
  vertical-align: bottom;
}
.carousel-indicators .active {
  width: 25px;
  height: 5px;
  margin: 0;
  background-color: #fff;
  vertical-align: bottom;
}

